<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Spingo\SpingoWebApi\Api\SpingoConfirmNotifyInterface" type="Spingo\SpingoWebApi\Service\SpingoConfirmNotify"/>
    <preference for="Spingo\SpingoWebApi\Api\Data\SpingoConfirmNotifyItemInterface" type="Spingo\SpingoWebApi\Model\SpingoConfirmNotifyItem"/>
</config>
