<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <spingo_payment>
            <connection>
                <return_url>checkout/onepage/success</return_url>
                <cancel_url>checkout/onepage/success?error</cancel_url>
            </connection>
            <cart>
                <min_order_total>500</min_order_total>
                <max_order_total>30000</max_order_total>
            </cart>
        </spingo_payment>
        <payment>
            <spingo_payment>
                <active>1</active>
                <model>SpingoPayment</model>
                <payment_action>authorize</payment_action>
                <title>Spingo - defer payment</title>
                <can_authorize>1</can_authorize>
                <can_capture>0</can_capture>
                <can_void>0</can_void>
                <can_review_payment>0</can_review_payment>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>0</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
                <paymentInfoKeys>applicationNumber</paymentInfoKeys>
            </spingo_payment>
        </payment>
    </default>
</config>
