<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Faktoria\FaktoriaWebApi\Api\FaktoriaConfirmNotifyInterface" type="Faktoria\FaktoriaWebApi\Service\FaktoriaConfirmNotify"/>
    <preference for="Faktoria\FaktoriaWebApi\Api\Data\FaktoriaConfirmNotifyItemInterface" type="Faktoria\FaktoriaWebApi\Model\FaktoriaConfirmNotifyItem"/>
</config>
